requests
ttkthemes
pillow
tkintermapview
pandas
pyproj
geopy
matplotlib
python-dotenv
folium
pydantic
librosa
ipywidgets
numpy
pydub
pyinstaller
seaborn
selenium
Flask-WTF
gunicorn
psycopg2-binary
pygame
dash-mantine-components
openpyxl
xlrd